html {
    background-color: rgb(30, 48, 49);
}

.hi {
    color: rgb(181, 237, 232);
    font-family: candara;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    
}
.author {
    color: rgb(181, 237, 232);
    font-family: candara;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    text-align: center; 
}